.section_outer{
  width: 100%;
  padding: 50px 0 20px;
}
.title_box{
  text-align: center;
  margin-bottom: 30px;
}
.product_inner{
  margin-bottom: 30px;
  transition: .2s cubic-bezier(.02,.22,.7,1.98);
  border-radius: 20px;
  text-align: center;
  border: 1px solid #e4e4e4;
}
.product_inner:hover{
  transform: translateY(-7px);
}
.product_inner img{
  border-radius: 20px;
}
.product_info{
  text-align: center;
  padding: 0px 10px 25px;
}
.product_info h3{
  color: #04858b;
}
.product_info p{
  min-height: 84px;
}
.product_info a{
  padding: 5px 10px;
}