.section_outer{
  padding-top: 50px;
  padding-bottom: 30px;
  /*background-color: #f4f8fa !important;*/
}
.iconbox{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}
.iconbox h3{
  margin-top: 15px;
}
.rotate_outer{
  width: 75%;
  margin: -20px auto 0;
}
@media only screen and (min-width: 1700px) {
  .iconbox{
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .rotate_outer{
    width: 70%;
  }

}