.section_outer{
  padding-top: 50px;
  padding-bottom: 30px;
}
.iconbox{
  text-align: center;
  margin-bottom: 30px;
}
.iconbox h3{
  margin-top: 15px;
}
.rotate_outer{
  width: 75%;
  margin: -50px auto 0;
}