.blog_img{
    width: 100%;
    height: 450px;
}
.card_item ul{
    list-style-type: none;
}
.blog_btn{
    background-color: #e31422;
}
.sub_heading{
    color: #aab3bc;
    font-weight: 500;
}
.card_title{
    line-height: 20px;
}
.pagination_number span{
    padding: 0 5px 0 5px;
    font-weight: 500;
    font-size: 16px;
}
.pagination_icon{
    font-size: 16px;
    font-weight: 500;
}
.stories img{
    width: 90px;
    height: 70px;
    margin-right: 4px;
}
.stories p{
    font-size: 14px;
}
.blog_content p{
    font-size: 16px;
    color: #aab3bc;
    /*line-height: 10px;*/
    padding-left: 2px;
}