.case_banner {
    background-image: url('../../public/images/Napo-Pizzeria-Abu-Dhabi.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    width: 100%;
}

.case_banner h1 {
    text-align: center;
    color: #fff;
}

.title p {
    font-size: 15px;
    margin-bottom: 0rem;
    font-weight: 600;
}

.main h2 {
    color: #e31422;
    padding-top: 36px;
    font-size: 33px;
}
.main h3 {
    color: #e31422;
}
.case_study h2{
    color: #e31422;
}
.card_design h3{
    color: #e31422;
}
.card_design img{
    height: 230px;
}
.served h1{
    color: #e31422;
}
.served h3{
    font-weight: 600;
    color: #15a0ac;
    font-size: 22px;
}
.left_btn{
    /*border-top-left-radius: 21px;*/
    /*border-bottom-left-radius: 21px;*/
    /*border-top-right-radius: 21px;*/
    /*border-bottom-right-radius: 21px;*/
    border-radius: 21px 21px 21px 21px;
}
.btn_style{
    color: #fff!important;
    background-color: #e31422;
}
@media only screen and (min-width: 1700px) {
    .card_design img{
        height: 360px!important;
    }
}