.section_inner span{
    margin-top: -15px;
    display: block;
    margin-bottom: 10px;
    color: red;
    font-weight: 500;
}
.select_wrapper{
    position: relative;
    width: 350px;
}
.select_wrapper::after {
    color: black;
    content: '▾';
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 17px;
    font-size: 20px;
}
.select_wrapper select{
    background: rgba( 246, 247, 252, 1.00 )!important;
}
.form_style input{
    background: rgba( 246, 247, 252, 1.00 )!important;
}

.textarea:focus {
    outline: none !important;
}
.form_style div{
    margin-bottom: 0rem!important;
}
.textarea{
    margin-left: 2px;
    margin-right: 2px;
}
.main_btn_section button{
    border-radius: 0!important;
    margin: 0 10px 0 10px;
    background-color: white;
    color: black;
}
.main_btn_section button:hover{
    background-color: #e31422!important;
    border: none;
}
.main_btn_section button:hover{
    background-color: rgb(227, 20, 34);
}