.section_inner span {
    margin-top: -15px;
    display: block;
    margin-bottom: 10px;
    color: red;
    font-weight: 500;
    /*background-color: rgb(246, 247, 252);;*/
}

.select_wrapper {
    position: relative;
    width: 150px;
    background-color: rgb(246, 247, 252);;
}
.select_wrapper select{
    padding: 7px 0px 7px 15px!important;
}

.select_wrapper::after {
    color: black;
    content: '▾';
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}
