.left_side {
    padding-top: 38px;
    /*padding-right: 124px;*/
    display: flex;
    padding-left: 14px;
    justify-content: flex-end;
}

.outer {
    /*background-color: #f4f8fa !important;*/
    padding-top: 60px;
    padding-bottom: 90px;
}

.right_side {
    padding-top: 38px;
    /*padding-right: 124px;*/
    display: flex;
    /*justify-content: flex-end;*/
}
.right_side p{
    color: #e31422 !important;
}
.left_side p{
    color: #e31422 !important;
}
.right_side h5{
    font-weight: 600;
}
.left_side h5{
    font-weight: 600;
}

.icon {
    width: 109px;
    height: 109px;
    line-height: 109px;
    font-size: 47px;
    border: 3px solid #e31422;
    border-radius: 50%;
    text-align: center;
    color: #e31422;
}
.icon:hover{
    box-shadow: 0px -1px 6px 1px #e31422;
    -webkit-box-shadow: 0px -1px 6px 1px #e31422;
    -moz-box-shadow: 0px -1px 6px 1px #e31422;
}

.section_outer {
    padding: 50px 0;
    width: 100%;
    background-color: #e31422;
    text-align: center;
    color: #fff;
}

.section_outer h3,
.section_outer h2,
.section_outer p {
    color: #fff;
}

.section_outer ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_outer ul li {
    margin: 0 10px 20px;
}

.section_outer ul li button {
    outline: none;
    padding: 5px 10px;
    /*border-radius: 5px;*/
    border: 0px;
    color: #333;
    background-color: #fff;
    transition: all 0.3s ease;
}

.section_outer ul li button:hover {
    background-color: #04858b;
    color: #fff;
}
@media only screen and (min-width: 1700px) {
    .left_side{
        display: flex;
        justify-content: flex-end;
    }
    .main_img{
        text-align: center;
    }
}

.water {
    pointer-events: none;
    z-index: -1;
    transform: scale(3.5,.7);
    -webkit-transform: scale(3.5,.7);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -25px;
    opacity: .6;
    margin: 0 auto;
    background-color: rgba(163,195,217,.5);
}
.water{
    /*position:relative;*/
    margin:0 auto;
    background-color:rgb(227 20 34);
}
@keyframes water {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    50% {
        opacity: 0.3;
    }
    65% {
        opacity: 0.5;
    }
    100% {
        transform: scale(3);
        opacity: 0.0;
    }
}
@-webkit-keyframes water {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    50% {
        opacity: 0.3;
    }
    65% {
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(3);
        opacity: 0.0;
    }
}
.water{
    pointer-events:none
}
.water .dot{
    background-color:inherit;
}
.water:after,
.water:before,
.water .dot:after,
.water .dot:before{
    content:"";
    width:100px;
    height:100px;
    background-color:inherit;
    position:absolute;
    margin:-50px 0 0 -50px;
    opacity:0;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -webkit-animation: water 3s ease-out;
    -moz-animation: water 3s ease-out;
    animation: water 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.water:after{
    -webkit-animation-delay:300ms;
    -moz-animation-delay:300ms;
    animation-delay:300ms;
}
.water:before{
    -webkit-animation-delay:660ms;
    -moz-animation-delay:660ms;
    animation-delay:660ms;
}
.water .dot:after{
    -webkit-animation-delay:1020ms;
    -moz-animation-delay:1020ms;
    animation-delay:1020ms;
}
.water .dot:before{
    -webkit-animation-delay:1380ms;
    -moz-animation-delay:1380ms;
    animation-delay:1380ms;
}