.section_outer{
  padding: 50px 0;
  width: 100%;
  background-color: #e31422;
  text-align: center;
  color: #fff;
}
.section_outer h3,
.section_outer h2,
.section_outer p{
  color: #fff;
}
.section_outer ul{
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section_outer ul li{
  margin: 0 10px 20px;
}
.section_outer ul li button{
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0px;
  color: #333;
  background-color: #fff;
  transition: all 0.3s ease;
}
.section_outer ul li button:hover{
  background-color: #04858b;
  color: #fff;
}