.section_outer{
  padding-top: 50px;
  padding-bottom: 30px;
  background-image: linear-gradient(to right top, #e31422, #d71720, #cb191e, #bf1a1d, #b31b1b);
}
.text_box{
  margin-bottom: 20px;
  color: #fff;
}
.text_box h3,
.text_box h4{
  color: #fff;
}
.button_box{
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width:767px){
  .text_box{
    text-align: center;
  }
}