.section_outer{
  padding-top: 50px;
  padding-bottom: 30px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.section_outer::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(247 246 252 / 60%);
}
.text_box{
  margin-bottom: 20px;
}
.text_box h3{
  font-size: 37px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: -1px;
}
.text_box h2{
  font-size: 45px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: -1px;
}
.button_box{
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width:767px){
  .text_box{
    text-align: center;
  }
}