.quoteform_outer{
  background-image: url('../../public/images/main-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /*padding: 50px 15px;*/
  padding: 80px 25px;
}