.section_outer{
  padding-top: 50px;
  padding-bottom: 20px;
  background-image: url(../../../public/images/Marra-Forni-elements-transparent-gradient.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
  background-color: rgb(255 255 255 / 50%);
}
.product_inner{
  margin-bottom: 30px;
  transition: .2s cubic-bezier(.02,.22,.7,1.98);
  box-shadow: 0 0 20px 5px rgb(86 86 86 / 30%);
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
}
.product_inner:hover{
  transform: translateY(-7px);
  box-shadow: 0 10px 25px rgb(179 27 27 / 60%);
}
.product_inner img{
  border-radius: 20px;
}
.product_info{
  text-align: center;
  padding: 0px 10px 20px;
}
.product_inner .product_info h4{
  color: #04858b;
}
.product_inner .product_info a{
  padding: 5px 10px;
}