.heading h6{
    font-size: 56px!important;
    margin: -36px 0 20px 0!important;
}
.heading{
    margin: -36px 0 20px 0!important;
}
.our_mission h2{
    /*text-align: center;*/
    margin-bottom: 30px;
    color: #e31422;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 1.5em;
    letter-spacing: -.8px;
}
.outer_section{
    margin: 100px 0px 50px 0px;
}
.our_mission h2{
    letter-spacing: 1px;
}
.side_video{
    border: none!important;
}
.side_video_content{
    background: #1d1d1d;
}
.our_mission_heading h5{
    color: #e31422!important;
    font-size: 19px;
    font-weight: 500;
}