.heading h6{
    font-size: 56px!important;
    margin: -36px 0 20px 0!important;
}
.heading{
    margin: -36px 0 20px 0!important;
}
.middle_img{
    background-image : linear-gradient(rgba(99, 99, 99, 0.7)), url('../../../public/images/Marra-Distribition.png');
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 10;
    object-fit: contain;
}
.middle_img p{
    padding-top: 800px;
    color: white;
}