.card_style{
    box-shadow: 0 0 10px 5px rgb(86 86 86 / 4%);
    border: 1px solid #f6f7fb;
}
.pizza_university{
    background: #f7f6fc;
}
.heading{
    color: #e31422;
}
.culinary_banner {
    background-image: url('../../public/images/Napo-Pizzeria-Abu-Dhabi.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    position: relative;
    width: 100%;
}
.culinary_banner h1 {
    text-align: center;
    color: #fff;
}
.main_banner{
    padding-top: 100px;
    padding-bottom: 110px;
}
.banner_content{
    padding-top: 90px;
    padding-bottom: 80px;
}
@media only screen and (min-width: 1700px) {
    .culinary_img{
        padding-left: 160px;
    }
}