/*.fl_inner h4{*/
/*    letter-spacing: 0;*/
/*    font-weight: normal;*/
/*    position: relative;*/
/*    padding: 0 0 10px 0;*/
/*    line-height: 120% !important;*/
/*    color: #1f1f1f;*/
/*    margin: 0;*/
/*    text-transform: uppercase;*/
/*}*/
/*#servies li p{*/
/*    margin-bottom: 0;*/
/*    padding-bottom: 0;*/
/*}*/
/*#servies li{*/
/*    display: table;*/
/*    width: 100%;*/
/*    margin: 35px 0;*/
/*    cursor: pointer;*/
/*}*/
/*.services_left i{*/
/*    width: 59px;*/
/*    height: 59px;*/
/*    line-height: 59px;*/
/*    display: table;*/
/*    border-radius: 5px;*/
/*    font-size: 25px;*/
/*    color: white;*/
/*    background-color: #4caf50;*/
/*    margin: 0 auto 22px;*/
/*    position: relative;*/
/*    text-align: center;*/
/*    z-index: 55;*/
/*    transform: 0.4s;*/
/*    padding: 0;*/
/*}*/
/*.services_left li i:before{*/
/*    text-align: center;*/
/*}*/
/*.fl_inner{*/
/*    text-align: right;*/
/*    margin-right: 90px;*/
/*}*/
/*.effect_1{*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    text-align: center;*/
/*    position: relative;*/
/*    text-decoration: none;*/
/*    z-index: 1;*/
/*}*/
/*.effect_1:after{*/
/*    pointer-events: none;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border-radius: 50%;*/
/*    content: '';*/
/*    box-sizing: content-box;*/
/*}*/
/*.effect_1{*/
/*    transition: background;*/
/*}*/
.resp_tabs_list li {
    list-style-type: none;
}

.dg_tabs_left01 ul.resp_tabs_list li.resp_tab_active {
    border-left: 3px solid #e31422;
}

.panel {
    margin-bottom: 14px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 150px;

}

.panel_heading {
    padding: 13px 13px 13px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    height: 60px;
}

.panel_flat > .panel_body {
    padding: 1px 24px 12px 28px;
}
.panel_body{
    text-align: center;
}
.panel_body img{
    height: 70px;
    width: 70px;
}

.border_accent {
    border-color: #e31422 !important;
}

.panel_border_bottom, .panel_border_bottom.border_accent {
    border-left-color: #dfdfdf !important;
    border-right-color: #dfdfdf !important;
    border-top-color: #dfdfdf !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
    border-top-width: 1px !important;
}

.panel_body i {
    color: #e31422 !important;
}

.sidebar li {
    background: #f9f9f9;
}

.main_style button {
    padding: 10px 53px 10px 51px;
    /*background: #e31422;*/
    color: gray;
}
.side_set ul li:hover{
    border-right: 3px solid #e31422;
}
.side_set ul li i{
    color: #e31422;
}

.main_style button:after {
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #e31422 !important;
}

@media only screen and (min-width: 1700px) {
    .main_style button {
        padding: 15px 144px 15px 147px;
    }
    .panel_heading {
        font-size: 28px;
        padding-bottom: 20px;
        line-height: 30px;
        padding-top: 40px;
        height: 130px;
    }
    .panel_body img{
        height: 100px;
        width: 100px;
    }
    .panel {
        height: 250px;
    }
}