.slider_outer{
  background-color: #24262a;
  padding-top: 15px;
  padding-bottom: 20px;
}
.slider_outer h2{
  text-align: center;
  color: #fff;
}
.slider_inner_main{
  margin: 0 3px;
  position: relative;
}
.slider_inner_main:hover .icon_overlay{
  background-color: rgba(36,38,42,.45);
  transition: all 0.3s ease;
}
.slider_inner_main:hover h6{
  color: #e31422;
  text-decoration: underline;
}
.slider_inner{
  position: relative;
}
.slider_inner img{
  width: 100%;
  height: auto;
}
.icon_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_overlay span{
  color: #fff;
  font-size: 30px;
}
.slider_inner_main h6{
  margin-top: 10px;
  text-align: center;
  color: #fff;
}
.cross{
  position: absolute!important;
  top: 10px;
  right: 10px;
}