.section_outer{
  padding: 70px 0;
  background-color: #f6f7fc;
  /*text-align: center;*/
}
.section_outer h2{
  padding-top: 30px;
}
@media only screen and (min-width: 1700px) {
  .culinary_img{
    padding-left: 160px;
  }
}