.section_outer{
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../../../public/images/Marra-Forni-elements-transparent-gradient.webp);
  background-size: cover;
}
.title_box{
  text-align: center;
  margin-bottom: 50px;
}
.table_outer{
  border-radius: 9px;
  /*border-radius: 20px;*/
  box-shadow: 0 0 20px 5px rgb(86 86 86 / 10%);
  border: 1px solid #e7e8eb;
  overflow-x: auto;
}
.table_outer table{
  width: 100%;
  margin: 0;
}
.table_outer table tr:not(:last-child){
  border-bottom: 1px solid #e7e8eb;
}
.table_outer table tr td{
  padding: 25px 20px;
  font-size: 16px;
  font-weight: 500;
}
.table_outer table tr td:first-child{
  background-color: #fff;
}
.table_outer table tr td:nth-child(2){
  background-color: #f6f7fb;
}
.table_outer table tr td:last-child{
  background-color: #eff3f8;
}
.table_outer table tr td:not(:first-child){
  text-align: center;
  border-left: 1px solid #e7e8eb;
  width: 33%;
}
.table_outer table tr td .check_sign{
  color: #e31422;
  display: inline-block;
}
.table_outer table tr td .cross_sign{
  color: #ccd0d9;
  display: inline-block;
}