.section_outer{
  padding-top: 20px;
  padding-bottom: 20px;
}
.heading_inner{
  text-align: center;
  padding-bottom: 20px;
}
.product_outer{
  margin-bottom: 30px;
}
.product_main{
  height: 100%;
  -webkit-transition: .2s cubic-bezier(.02,.22,.7,1.98);
  transition: .2s cubic-bezier(.02,.22,.7,1.98);
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  padding: 25px 15px;
}
.product_main:hover{
  transform: translateY(-7px);
}
.image_box{
  width: 100%;
  text-align: center;
}
.image_box img{
  width: auto;
  height: 300px;
}
.info_box{
  padding-top: 20px;
}
.info_box h3{
  margin-bottom: 20px;
}
.info_box ul{
  margin: 0;
  padding: 0;
}
.info_box ul li{
  font-size: 16px;
  line-height: 1.8;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  color: #565656;
  margin-left: 15px;
}
.info_box a{
  margin-top: 20px;
}

@media only screen and (max-width:991px){
  .product_main{
    height: auto;
  }
}