.top_banner {
    background-color: #f7f6fc;
    padding-top: 150px;
    padding-bottom: 80px;
    text-align: center;
}
.responsive_map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.contact_banner {
    background-image: url('../../public/images/Napo-Pizzeria-Abu-Dhabi.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    position: relative;
    width: 100%;
}
.contact_banner h1 {
    text-align: center;
    color: #fff;
}
.content p strong{
    font-weight: 600;
}
.card_one{
    background-color: #eaedf1;
}
.card_two{
    background-color: #f6f7fb!important;
}
.card_three{
    background-color: #eaedf1;
}
.row_style{
    margin-right: 1px!important;
    margin-left: -32px!important;
}
.content h2 {
    color: #e31422;
    font-weight: 400;
}
.section {
    margin-top: 6%;
    margin-bottom: 10%;
}
.card {
    position: relative;
    width: 450px;           
    height: 165px;
    overflow: hidden;
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}
.card .imgBx {
    top: 0;
    left: 0;
}
.card:hover .imgBx {
    top: 0;
    left: -100%;
}
.card .imgBx img {
    width: 100%;
}
.card .imgBx p{
    font-size: 14px;
}
.card .details {
    background-color: #e31422;
    top: 0;
    left: 100%;
    padding: 46px 30px;
}
.card:hover .details {
    top: 0;
    left: 0%;
}
.card .details p {
    color: #fff;
    font-size: 14px;
}
.card .imgBx i{
    font-size: 65px;
    color: #d1d2d7;
    display: inline-block;
    padding-right: 20px;
}
.card .imgBx h3{
    font-family: Poppins,sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    color: #24262a;
    margin-bottom: 1px!important;
}
.card .details i{
    font-size: 65px;
    display: inline-block;
    padding-right: 20px;
    color: white;
}
.card .details h3{
    font-family: Poppins,sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    color: White;
    margin-bottom: 1px!important;
}

@media screen and (max-width:640px) {
    .card {
        position: relative;
        width: calc(100vw) ;         
        height: 165px;
        overflow: hidden;

    }
    .card .details {
            background-color: #e31422;
            top: 0;
            left: 100%;
            padding: 10px 10px;
    }
}

@media only screen and (min-width: 1700px) {
    .card {
        width: 900.38px;
        height: 175px;
    }

    .section {
        margin-top: 5%;
        margin-bottom: 7%;
    }
    .card .imgBx i{
        font-size: 65px;
        color: #d1d2d7;
        display: inline-block;
        padding-right: 20px;
        padding-left: 40px;
    }
    .card .imgBx h3{
        font-family: Poppins,sans-serif;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #24262a;
        margin-bottom: 1px!important;
    }
    .card .details i{
        font-size: 65px;
        display: inline-block;
        padding-right: 20px;
        color: white;
        padding-left: 40px;
    }
    .card .details h3{
        font-family: Poppins,sans-serif;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        /*color: #24262a;*/
        margin-bottom: 1px!important;
        color: white;
    }
}
