.header_search_box{
  background-color: #fff;
  position: absolute;
  width: 80%;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}
.header_search_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}
.search_icon{
  font-size: 20px;
  margin-right: 15px;
}
.input_search{
  width: 100%;
}
.input_search input{
  margin: 0 !important;
  border: 0px !important;
}
.input_search input:focus{
  box-shadow: none !important;
}
.close_icon{
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}
.search_result{
  border-top: 1px solid #333;
  padding: 15px 0;
  max-height: 305px;
  overflow: auto;
}
.search_result a{
  display: block;
  width: 100%;
  padding: 5px 15px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.search_result a:hover{
  transition: all 0.3s ease;
  background-color: #e31422;
  color: #fff !important;
}