.section_outer{
  background-image: url(../../../public/images/Marra-Forni-elements-transparent-gradient.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.qodefslider_outer{
  width: 95%;
  margin: 0 auto;
}
.qodefslider_inner{
  padding: 10px 15px 0px;
}
.qodefslider_innermain{
  text-align: -webkit-center;
  transition: .2s cubic-bezier(.02,.22,.7,1.98);
  box-shadow: 0 0 20px 5px rgb(86 86 86 / 50%) inset;
  border-radius: 20px;
}
.qodefslider_innermain:hover{
  box-shadow: 0 0 20px 5px rgb(0 0 0 / 60%) inset;
  transform: translateY(-10px);
  background-color: #fff;
}