@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-BoldItalic.eot');
  src: url('../public/fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-BoldItalic.woff2') format('woff2'),
      url('../public/fonts/Roboto-BoldItalic.woff') format('woff'),
      url('../public/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Bold.eot');
  src: url('../public/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-Bold.woff2') format('woff2'),
      url('../public/fonts/Roboto-Bold.woff') format('woff'),
      url('../public/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-LightItalic.eot');
  src: url('../public/fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('../public/fonts/Roboto-LightItalic.woff') format('woff'),
      url('../public/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Black.eot');
  src: url('../public/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-Black.woff2') format('woff2'),
      url('../public/fonts/Roboto-Black.woff') format('woff'),
      url('../public/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Light.eot');
  src: url('../public/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-Light.woff2') format('woff2'),
      url('../public/fonts/Roboto-Light.woff') format('woff'),
      url('../public/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-BlackItalic.eot');
  src: url('../public/fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-BlackItalic.woff2') format('woff2'),
      url('../public/fonts/Roboto-BlackItalic.woff') format('woff'),
      url('../public/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Italic.eot');
  src: url('../public/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-Italic.woff2') format('woff2'),
      url('../public/fonts/Roboto-Italic.woff') format('woff'),
      url('../public/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-MediumItalic.eot');
  src: url('../public/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-MediumItalic.woff2') format('woff2'),
      url('../public/fonts/Roboto-MediumItalic.woff') format('woff'),
      url('../public/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Medium.eot');
  src: url('../public/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-Medium.woff2') format('woff2'),
      url('../public/fonts/Roboto-Medium.woff') format('woff'),
      url('../public/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Regular.eot');
  src: url('../public/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-Regular.woff2') format('woff2'),
      url('../public/fonts/Roboto-Regular.woff') format('woff'),
      url('../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-ThinItalic.eot');
  src: url('../public/fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-ThinItalic.woff2') format('woff2'),
      url('../public/fonts/Roboto-ThinItalic.woff') format('woff'),
      url('../public/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-Thin.eot');
  src: url('../public/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Roboto-Thin.woff2') format('woff2'),
      url('../public/fonts/Roboto-Thin.woff') format('woff'),
      url('../public/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-Black.eot');
  src: url('../public/fonts/RobotoSlab-Black.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-Black.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-Black.woff') format('woff'),
      url('../public/fonts/RobotoSlab-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-Bold.eot');
  src: url('../public/fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-Bold.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-Bold.woff') format('woff'),
      url('../public/fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-ExtraBold.eot');
  src: url('../public/fonts/RobotoSlab-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-ExtraBold.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-ExtraBold.woff') format('woff'),
      url('../public/fonts/RobotoSlab-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-ExtraLight.eot');
  src: url('../public/fonts/RobotoSlab-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-ExtraLight.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-ExtraLight.woff') format('woff'),
      url('../public/fonts/RobotoSlab-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-Regular.eot');
  src: url('../public/fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-Regular.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-Regular.woff') format('woff'),
      url('../public/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-Thin.eot');
  src: url('../public/fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-Thin.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-Thin.woff') format('woff'),
      url('../public/fonts/RobotoSlab-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-Light.eot');
  src: url('../public/fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-Light.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-Light.woff') format('woff'),
      url('../public/fonts/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-SemiBold.eot');
  src: url('../public/fonts/RobotoSlab-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-SemiBold.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-SemiBold.woff') format('woff'),
      url('../public/fonts/RobotoSlab-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-Medium.eot');
  src: url('../public/fonts/RobotoSlab-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-Medium.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-Medium.woff') format('woff'),
      url('../public/fonts/RobotoSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../public/fonts/RobotoSlab-Regular_1.eot');
  src: url('../public/fonts/RobotoSlab-Regular_1.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/RobotoSlab-Regular_1.woff2') format('woff2'),
      url('../public/fonts/RobotoSlab-Regular_1.woff') format('woff'),
      url('../public/fonts/RobotoSlab-Regular_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.8;
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  color: #565656;
}
p{
  font-size: 16px;
  line-height: 1.8;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  color: #565656;
}
h1{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 56px;
  font-weight: 400;
  color: #333333;
}
h2{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: #333333;
}
h3{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #333333;
}
h4{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
h5{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
h6{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
small{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333333;
}
.mf_btn{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #e31422;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
  transition: all 0.3s ease;
}
.mf_btn:hover{
  background-color: #b31b1b;
  box-shadow: 0 0.5rem 1rem rgb(255 255 255 / 30%);
  color: #fff;
}
.mf_btn_round{
  border-radius: 30px;
  padding: 15px 20px;
  border: 1px solid #fff;
}
.mf_btn_round:hover{
  background-color: #04858b;
}
a{
  text-decoration: none;
  color: #e31422;
  transition: all 0.3s ease;
}
a:hover{
  color: #04858b;
  text-decoration: none;
}
.QodefSlider_qodefslider_outer__B3VrZ .slick-track,
.LogoSlider_logoslider_outer__U31PH .slick-track{
  display: flex;
  align-items: center;
}
.Testimonials_slider_outer__340kd .slick-dots li button::before,
.QodefSlider_qodefslider_outer__B3VrZ .slick-dots li button::before,
.LogoSlider_logoslider_outer__U31PH .slick-dots li button::before{
  font-size: 13px;
  color: #333;
  opacity: 1;
}
.Testimonials_slider_outer__340kd .slick-dots li.slick-active button::before,
.QodefSlider_qodefslider_outer__B3VrZ .slick-dots li.slick-active button::before,
.LogoSlider_logoslider_outer__U31PH .slick-dots li.slick-active button::before{
  font-size: 14px;
  color: #e31422;
  opacity: 1;
}
.Testimonials_red_section_outer__2UGi2 .Testimonials_slider_outer__340kd .slick-dots li.slick-active button::before{
  color: #fff;
}
.RotateImage360D_section_outer___BpRm .nav-tabs{
  border: 0;
  position: relative;
}
.RotateImage360D_section_outer___BpRm .nav-tabs .nav-link{
  border: 0;
  color: #04858b;
  font-weight: 400;
}
.RotateImage360D_section_outer___BpRm .nav-tabs .nav-link.active{
  color: #e31422;
}
.Touchscreen_section_outer__ocpnD .in-top .Touchscreen_info__20co- {
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: in-top 300ms ease 0ms 1 forwards;
  animation: in-top 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .in-right .Touchscreen_info__20co- {
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: in-right 300ms ease 0ms 1 forwards;
  animation: in-right 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .in-bottom .Touchscreen_info__20co- {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
  animation: in-bottom 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .in-left .Touchscreen_info__20co- {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: in-left 300ms ease 0ms 1 forwards;
  animation: in-left 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .out-top .Touchscreen_info__20co- {
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: out-top 300ms ease 0ms 1 forwards;
  animation: out-top 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .out-right .Touchscreen_info__20co- {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: out-right 300ms ease 0ms 1 forwards;
  animation: out-right 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .out-bottom .Touchscreen_info__20co- {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
  animation: out-bottom 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .out-left .Touchscreen_info__20co- {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards;
  animation: out-left 300ms ease 0ms 1 forwards; 
}
@-webkit-keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
    transform: rotate3d(-1, 0, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
}
@keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
    transform: rotate3d(-1, 0, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@-webkit-keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
    transform: rotate3d(0, -1, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
    transform: rotate3d(0, -1, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
}
@-webkit-keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
}
@keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@-webkit-keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@-webkit-keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 104deg);
    transform: rotate3d(-1, 0, 0, 104deg); 
  } 
}
@keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 104deg);
    transform: rotate3d(-1, 0, 0, 104deg); 
  } 
}
@-webkit-keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 104deg);
    transform: rotate3d(0, -1, 0, 104deg); 
  } 
}
@keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 104deg);
    transform: rotate3d(0, -1, 0, 104deg); 
  } 
}
@-webkit-keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 104deg);
    transform: rotate3d(1, 0, 0, 104deg); 
  } 
}
@keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 104deg);
    transform: rotate3d(1, 0, 0, 104deg); 
  } 
}
@-webkit-keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 104deg);
    transform: rotate3d(0, 1, 0, 104deg); 
  } 
}
@keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 104deg);
    transform: rotate3d(0, 1, 0, 104deg); 
  } 
}

select,
input{
  padding: 10px 15px;
  outline: none;
  border: 1px solid #333333;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
select:focus,
input:focus{
  box-shadow: 0 0 20px 0px rgb(51 51 51 / 15%)
}