@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Bold.eot');
  src: url('../public/fonts/Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-Bold.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-Bold.svg#Poppins-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-BlackItalic.eot');
  src: url('../public/fonts/Poppins/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-BlackItalic.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-BlackItalic.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Black.eot');
  src: url('../public/fonts/Poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-Black.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-Black.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-Black.svg#Poppins-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ExtraBold.eot');
  src: url('../public/fonts/Poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-ExtraBold.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-BoldItalic.eot');
  src: url('../public/fonts/Poppins/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-BoldItalic.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ExtraBoldItalic.eot');
  src: url('../public/fonts/Poppins/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Italic.eot');
  src: url('../public/fonts/Poppins/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-Italic.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-Italic.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-Italic.svg#Poppins-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ExtraLightItalic.eot');
  src: url('../public/fonts/Poppins/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-ExtraLightItalic.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ExtraLight.eot');
  src: url('../public/fonts/Poppins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-ExtraLight.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-LightItalic.eot');
  src: url('../public/fonts/Poppins/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-LightItalic.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-LightItalic.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Light.eot');
  src: url('../public/fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-Light.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-Light.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-Light.svg#Poppins-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Medium.eot');
  src: url('../public/fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-Medium.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-Medium.svg#Poppins-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-MediumItalic.eot');
  src: url('../public/fonts/Poppins/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-MediumItalic.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Regular.eot');
  src: url('../public/fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-Regular.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-SemiBold.eot');
  src: url('../public/fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Thin.eot');
  src: url('../public/fonts/Poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-Thin.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-Thin.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-Thin.svg#Poppins-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-SemiBoldItalic.eot');
  src: url('../public/fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-ThinItalic.eot');
  src: url('../public/fonts/Poppins/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Poppins/Poppins-ThinItalic.woff2') format('woff2'),
      url('../public/fonts/Poppins/Poppins-ThinItalic.woff') format('woff'),
      url('../public/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype'),
      url('../public/fonts/Poppins/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #565656;
  font-family: 'Poppins',sans-serif;
}
p{
  color: #565656;
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400; 
}
h1, h2, h3, h4 {
  font-weight: 500;
  color: #24262a;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
}
h1 {
  font-size: 44px;
  line-height: 1.2em;
  letter-spacing: -1.3px;
}
h2 {
  font-size: 30px;
  line-height: 1.5em;
  letter-spacing: -.8px;
}
h3 {
  font-size: 20px;
  line-height: 1.4em;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 17px;
  line-height: 1.75em;
  font-weight: 300;
  color: #646e7a;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  text-transform: none;
}
h6 {
  font-size: 13px;
  font-weight: 500;
  color: #24262a;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  text-transform: capitalize;
}

small{
  font-family: 'Poppins',sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #24262a;
}
.mf_btn{
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #e31422;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
  line-height: 2;
  transition: all 0.3s ease;
}
.mf_btn:hover{
  background-color: #b31b1b;
  box-shadow: 0 0.5rem 1rem rgb(255 255 255 / 30%);
  color: #fff;
}

.mf_btn_round{
  border-radius: 4px;
  padding: 8px 30px;
  /*padding: 12px 20px;*/
  border: 1px solid #cb1421;
  clip-path: polygon(11% 0%, 100% 0%, 90% 100%, 0% 100%);

}
.mf_btn_round:hover{
  background-color: #04858b;
    border: 1px solid #046d73;
}
a{
  text-decoration: none;
  color: #e31422;
  transition: all 0.3s ease;
}
a:hover{
  color: #04858b;
  text-decoration: none;
}
.QodefSlider_qodefslider_outer__B3VrZ .slick-track,
.LogoSlider_logoslider_outer__U31PH .slick-track{
  display: flex;
  align-items: center;
}
.Testimonials_slider_outer__340kd .slick-dots li button::before,
.QodefSlider_qodefslider_outer__B3VrZ .slick-dots li button::before,
.LogoSlider_logoslider_outer__U31PH .slick-dots li button::before{
  font-size: 13px;
  color: #333;
  opacity: 1;
}
.Testimonials_slider_outer__340kd .slick-dots li.slick-active button::before,
.QodefSlider_qodefslider_outer__B3VrZ .slick-dots li.slick-active button::before,
.LogoSlider_logoslider_outer__U31PH .slick-dots li.slick-active button::before{
  font-size: 14px;
  color: #e31422;
  opacity: 1;
}
.Testimonials_red_section_outer__2UGi2 .Testimonials_slider_outer__340kd .slick-dots li.slick-active button::before{
  color: #fff;
}
.RotateImage360D_section_outer___BpRm .nav-tabs{
  border: 0;
  position: relative;
}
.RotateImage360D_section_outer___BpRm .nav-tabs .nav-link{
  border: 0;
  color: #04858b;
  font-weight: 400;
}
.RotateImage360D_section_outer___BpRm .nav-tabs .nav-link.active{
  color: #e31422;
}
.Touchscreen_section_outer__ocpnD .in-top .Touchscreen_info__20co- {
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: in-top 300ms ease 0ms 1 forwards;
  animation: in-top 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .in-right .Touchscreen_info__20co- {
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: in-right 300ms ease 0ms 1 forwards;
  animation: in-right 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .in-bottom .Touchscreen_info__20co- {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: in-bottom 300ms ease 0ms 1 forwards;
  animation: in-bottom 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .in-left .Touchscreen_info__20co- {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: in-left 300ms ease 0ms 1 forwards;
  animation: in-left 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .out-top .Touchscreen_info__20co- {
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-animation: out-top 300ms ease 0ms 1 forwards;
  animation: out-top 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .out-right .Touchscreen_info__20co- {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: out-right 300ms ease 0ms 1 forwards;
  animation: out-right 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .out-bottom .Touchscreen_info__20co- {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: out-bottom 300ms ease 0ms 1 forwards;
  animation: out-bottom 300ms ease 0ms 1 forwards; 
}
.Touchscreen_section_outer__ocpnD .out-left .Touchscreen_info__20co- {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-animation: out-left 300ms ease 0ms 1 forwards;
  animation: out-left 300ms ease 0ms 1 forwards; 
}
@-webkit-keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
    transform: rotate3d(-1, 0, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
}
@keyframes in-top {
  from {
    -webkit-transform: rotate3d(-1, 0, 0, 90deg);
    transform: rotate3d(-1, 0, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@-webkit-keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
    transform: rotate3d(0, -1, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@keyframes in-right {
  from {
    -webkit-transform: rotate3d(0, -1, 0, 90deg);
    transform: rotate3d(0, -1, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
}
@-webkit-keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
}
@keyframes in-bottom {
  from {
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@-webkit-keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@keyframes in-left {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 90deg);
    transform: rotate3d(0, 1, 0, 90deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  } 
}
@-webkit-keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 104deg);
    transform: rotate3d(-1, 0, 0, 104deg); 
  } 
}
@keyframes out-top {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(-1, 0, 0, 104deg);
    transform: rotate3d(-1, 0, 0, 104deg); 
  } 
}
@-webkit-keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 104deg);
    transform: rotate3d(0, -1, 0, 104deg); 
  } 
}
@keyframes out-right {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(0, -1, 0, 104deg);
    transform: rotate3d(0, -1, 0, 104deg); 
  } 
}
@-webkit-keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 104deg);
    transform: rotate3d(1, 0, 0, 104deg); 
  } 
}
@keyframes out-bottom {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(1, 0, 0, 104deg);
    transform: rotate3d(1, 0, 0, 104deg); 
  } 
}
@-webkit-keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 104deg);
    transform: rotate3d(0, 1, 0, 104deg); 
  } 
}
@keyframes out-left {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg); 
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, 104deg);
    transform: rotate3d(0, 1, 0, 104deg); 
  } 
}

select,
input{
  padding: 10px 15px !important;
  outline: none !important;
  border: 1px solid rgba(0,0,0,.125) !important;
  background-color: #fff !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #333333 !important;
  border-radius: 5px !important;
  width: 100% !important;
  margin-bottom: 20px !important;
  line-height: 1.8 !important;
  transition: all 0.3s ease !important;
}
select:focus,
input:focus{
  box-shadow: 0 0 20px 0px rgb(51 51 51 / 15%) !important;
}
.header_product_sub_menu__3bJTm .nav-tabs {
  justify-content: center;
  background-color: #e31422;
  border-top: 5px solid #fff;
  padding: 0 15px;
  box-shadow: 8px 10px 13px rgb(0 0 0 / 30%);  
}
.header_product_sub_menu__3bJTm .nav-tabs a{
  border: 0;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.header_product_sub_menu__3bJTm .nav-tabs a:hover{
  color: #fff;
  border-bottom-color: #fff;
}
.header_product_sub_menu__3bJTm .nav-tabs a.active{
  background-color: transparent;
  color: #fff;
  border-bottom-color: #fff;
}
.header_product_sub_menu__3bJTm .tab-content{
  background: linear-gradient(0deg,#fff,rgba(227,20,34,0) 33.33%,#24262a 66.66%,hsla(0,0%,100%,0) 99.99%);
  background-size: 300% 300%;
  background-position: 0 -60%;
  padding: 0 15px;
}
.blog_outer{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(290px,1fr));
  grid-auto-rows: 20px;
}
.blog_inner_main{
  box-shadow: 0 0 10px 5px rgb(86 86 86 / 4%);
  border: 1px solid #f6f7fb;
}

@media only screen and (min-width:320px){
  .blog_outer{
    grid-template-columns: repeat(auto-fill, minmax(290px,1fr));
  }
}
@media only screen and (min-width:1250px){
  .blog_outer{
    grid-template-columns: repeat(auto-fill, minmax(393px,1fr));
  }
}
@media only screen and (min-width:2488px){
  .blog_outer{
    grid-template-columns: repeat(auto-fill, minmax(475px,1fr));
  }
}